write a program to perform different arithmetic operations on numbers in python

In [17]:
# Python Arithmetic Operators
# Addition
j = 20
p = 40

print(j + p)

# Subtraction
M = 4
j = 1

print(M - j)

# Multiplication
j = 20
m = 40

print(j * m)

# Division
s = 12
y = 6

print(s / y)

# Modulus
j = 11
p = 2

print(j % p)

# Exponentiation
m = 2
j = 5

print(m ** j) #same as 2*2*2*2*2

#	Floor division
j = 15
p = 2

print(j // p)

60
3
800
2.0
1
32
7